.aside,
.aside input
    line-height: 18px
    margin-bottom: 6px
.aside p,
.aside ul,
.aside ol,
.aside dd,
.aside pre
    margin-bottom: 18px
.aside pre,
.aside code
    line-height: 18px
.aside
    .current_page_item
        a
        .page_item
            a
    a
    h3
        font-size: 1.2em
        font-style: italic
        line-height: 22px
        a
            text-decoration: none
    caption
        font-size: 0.95em
        font-weight: bold
        text-transform: uppercase
        letter-spacing: 0.05em
    ul
        list-style: none
        margin-left: 0
        ul
            list-style: disc
            margin: 0 0 0px 20px
            li
                padding: 4px 0
            ul
                margin-bottom: 0
    table
        border: none
    thead
        border: 1px solid #ccc
    tbody
        border: 1px solid #ccc
    tfoot
        tr
            border: none
        td
            border-color: transparent
    #searchsubmit
        display: none
.aside .current_page_item .page_item a:hover,
.aside .current_page_item .page_item a:active
.aside a:active,
.aside a:hover
.aside form,
.aside table
    margin-bottom: 22px
.aside th, .aside td
    border-right: 1px solid #ccc
    padding: .25em .8em
.widget_tag_cloud
    margin: 0 0 22px 0
.main-aside
    ul
        padding: 0 20px
        margin-bottom: 0px
        ul
            padding: 0
            list-style-type: none
    & > ul
        background: url("images/bg_side.png") repeat-y scroll 0 0 transparent
    h3
        padding-top: 5px
#primary
    padding: 0px 0px 20px 0px
    margin-bottom: 22px
    color: #555
    -webkit-border-radius: 5px
    -moz-border-radius: 5px
    border-radius: 5px
    .main-aside
        h3
            padding-top: 5px
.side-top
    display: block
    width: 100%
    height: 20px
    background: red
    background: url(images/bg_side-top.png)
    background-repeat: none
.side-bottom
    display: block
    width: 100%
    height: 20px
    background: red
    background: url(images/bg_side-bottom.png)
    background-repeat: none
#secondary
    padding: 18px 0 0 0
    color: #555
#content
    .aside
        border: 1px solid #ccc
        margin: 0 0 22px 0
        padding: 18px 0 0 0
        ul
            padding: 0 20px
            ul
                padding: 0
        h3
            font-weight: normal
            font-size: 1.3em
            font-style: italic
            padding: 0 0 7px 0
            text-transform: none
#subsidiary
    padding: 33px 0 0 0
.app-widgets
    width: 1000px
    margin: 0 auto
    ul
        list-style-type: none
        float: left
        display: block
        margin: 0
        padding: 0
.app-widget-item
    float: left
    display: block
    width: 300px
    padding-bottom: 30px
    margin: 0px 0px 0px 0px
    list-style-type: none
    margin-left: 20px
    h3
        font-weight: bold
        font-size: 1.4em
        margin-bottom: 12px
    p
        margin: 0
        line-height: 24px
.twtr-hd h3, .twtr-hd h4
    clear: none
.twtr-widget
    margin-top: 23px
