.attachment-jpeg #container,
.attachment-png #container
    width: 100%
.attachment-jpeg #content,
.attachment-png #content
    width: 930px
.attachment-jpeg #comments,
.attachment-png #comments
    width: 540px
    overflow: hidden
.attachment-jpeg .main-aside,
.attachment-png .main-aside
    display: none
