.download-buttons
    display: block
    clear: both
    padding-right: 0px
    padding-top: 40px
    float: right
a.masdl,a.windows-store-dl
    display: block
    float: right
a
    &.windows-store-dl
        margin-left: 10px
        background: url(images/WindowsStore_badge_black_en_small_40x125.png)
        background-repeat: no-repeat
        display: block
        width: 125px
        height: 40px
    &.masdl
        background: url(images/Download_on_the_Mac_App_Store_Badge_US-UK_165x40.png)
        background-repeat: no-repeat
        display: block
        width: 165px
        height: 40px
.app-video
    display: block
    float: right
    z-index: 1
    p
        text-align: center
        padding-top: 5px
        margin-bottom: 0px
        width: 150px
.social-buttons
    display: block
    clear: both
    float: right
    padding-top: 20px
.tweet-button
    float: right
    width: 120px
    margin-top: 2px
.fb-button
    float: right
.po-button
    float: right
.app-content-left .download-buttons,.app-content-left .social-buttons,.app-content-left .tweet-button,.app-content-left .fb-button,.app-content-left .po-button
    float: left
