#comments
    clear: both
    padding: 22px 0 0 0
    code
        line-height: 18px
    h3
        font-size: 1.2em
        font-weight: bold
        line-height: 22px
        padding: 0 0 18px 0
#comments,
#comments input,
#comments textarea
    line-height: 18px
#comments-list
    padding: 0 0 18px 0
    ol
        margin: 0 0 18px 0
    li
        padding: 18px 1.5em 0 1.5em
        position: relative
        &.alt
        &.bypostauthor
        .avatar
            position: absolute
            top: 22px
            left: 1.5em
            width: 36px
            height: 36px
    ul
        li
            border: 1px solid #ccc
            margin: 0 0 18px 0
        #respond
            border: 1px solid #ccc
            margin: 0
    .comment-author
        font-weight: bold
        padding: 9px 0 0 46px
    .comment-meta
        color: #666
        font-size: 0.95em
        padding: 0 0 9px 46px
        a
            font-style: italic
            text-decoration: none
    #respond
        border-bottom: 1px solid #ccc
        margin: 0 0 18px 0
        padding: 18px 1.5em
#comments-list ol,
#comments-list ul
    list-style: none
    margin: 0
#comments-list .comment-meta a:active,
#comments-list .comment-meta a:hover
.comment-reply-link
    font-size: 0.95em
    padding: 0 0 18px 0
    text-align: right
    a
        font-style: italic
        text-decoration: none
.comment-reply-link a:active,
.comment-reply-link a:hover
.comment-navigation
    font-weight: bold
    padding: 0 0 18px 0
    margin-right: 0.5em
    a
        border: 1px solid #ccc
        font-weight: normal
        padding: 0.5em 0.75em
        text-decoration: none
.comment-navigation a:active,
.comment-navigation a:hover
    color: #FF4B33
.comment-navigation a,
.comment-navigation span
    margin-right: 0.5em
#trackbacks-list
    .comment-content
        position: absolute
        left: -10000px
#respond
    margin-bottom: 22px
    overflow: hidden
    padding: 18px 0 0 0
    position: relative
    .required
        color: #FF4B33
        font-weight: bold
#cancel-comment-reply
    font-size: 0.95em
    position: absolute
    top: 18px
    right: 1.5em
    a
.form-section
    label
    input
        margin: 0 0 18px 0
        width: 98%
    textarea
        width: 99%
#form-allowed-tags
    p
        color: #666
        font-size: 0.95em
        margin: 0
    span
        font-style: italic
    code
        font-size: 0.95em
        line-height: normal
.form-submit
    padding: 18px 0 0 0
    text-align: right
    input[type="submit"]
        -webkit-border-radius: 4px
        -moz-border-radius: 4px 4px 4px 4px
        border-radius: 4px 4px 4px 4px
        background-color: #333
        color: #FFFFFF
        padding: 5px
        cursor: pointer
.subscribe-to-comments
    color: #666
    float: left
    font-size: 0.95em
    margin: 0
    padding: 18px 0 0 0
.solo-subscribe-to-comments
    color: #666
    font-size: 0.95em
    padding: 18px 0 0 0
.comment_license
    color: #666
    clear: both
    font-size: 0.95em
    margin: 0
    padding: 18px 0 0 0
