#main
    clear: both
    padding: 26px 0 22px 0
#container
    -webkit-border-radius: 5px
    -moz-border-radius: 5px
    border-radius: 5px
    background-color: #fff
#content
    margin: 20px
    width: 580px
.page-title
    line-height: 18px
    padding: 0 0 44px 0
    a
        &:link
            color: #f9f9f9
            text-decoration: none
    span
        font-style: italic
    .meta-nav
        font-style: normal
.attachment
    .page-title
        font-style: italic
.page-title a:active,
.page-title a:hover
    color: #ffffff
.hentry
    padding: 0 0 22px 0
.single
    .hentry
        padding: 0
.home
    #content
        .sticky
            border: 1px solid #ccc
            margin: 0 0 66px 0
            padding: 22px 20px 0 20px
.entry-title
    font-size: 2em
    line-height: 34px
    padding: 0 0 7px 0
    a
        &:link
            text-decoration: none
.entry-title a:active,
.entry-title a:hover
.entry-meta
    font-style: italic
    line-height: 18px
    .author
    .n
        font-size: 0.95em
        font-style: normal
        letter-spacing: 0.05em
        text-transform: uppercase
    a
        text-decoration: none
    abbr
        border: none
        cursor: text
        font-size: 0.95em
        font-style: normal
        letter-spacing: 0.05em
        text-transform: uppercase
.entry-meta a:active,
.entry-meta a:hover
.entry-content
    padding: 22px 0 0 0
    h3
        font-size: 1.3em
        font-style: italic
        padding: 28px 0 14px 0
    h4
        font-size: 0.95em
        font-weight: bold
        text-transform: uppercase
        letter-spacing: 0.05em
    table
        margin-left: 1px
    embed
        margin: 0 0 22px 0
.page-template-template-page-blog-php
    .post
        a
            &.thumb
                float: left
                margin-right: 20px
                margin-top: 5px
                margin-bottom: 5px
                padding-top: 22px
    .hentry
        padding-bottom: 40px
.entry-content h1,
.entry-content h2
    font-size: 1.4em
    font-weight: bold
    padding: 28px 0 14px 0
.entry-utility
    clear: both
    color: #666
    line-height: 18px
    margin: 0 0 44px 0
    a
        font-style: italic
        text-decoration: none
.entry-utility a:active,
.entry-utility a:hover
.edit-link
    clear: both
    display: block
.page-link
    font-weight: bold
    line-height: 18px
    margin: 0 0 22px 0
    padding: 22px 0 0 0
    word-spacing: 0.5em
    a
        border: 1px solid #ccc
        color: #666
        font-weight: normal
        padding: 0.5em 0.75em
        text-decoration: none
.page-link a:active,
.page-link a:hover
ul#links-page,
ul#archives-page
    list-style: none
    margin-left: 0
    overflow: hidden
li
    &.content-column
        float: left
        margin-right: 20px
        width: 45%
.gallery
    display: block
    clear: both
    overflow: hidden
    margin: 0 auto
    padding: 0 0 22px 0
    .gallery-row
        display: block
        clear: both
        overflow: hidden
        margin: 0
    .gallery-item
        overflow: hidden
        float: left
        margin: 0
        text-align: center
        list-style: none
        padding: 0
.gallery .gallery-item img, .gallery .gallery-item img.thumbnail
    max-width: 89%
    height: auto
    padding: 1%
    margin: 0 auto
    border: none !important
.gallery-caption
    margin-left: 0
.wp-caption-text,
.gallery-caption
    color: #666
    line-height: 18px
#author-info
    margin: 0 0 44px 0
    overflow: hidden
    .avatar
        float: left
        margin: .3em 1em 0 0
