#footer
    margin-top: 22px
    padding-top: 10px
    background: #111
    color: #f5f5f5
    a
        &:visited
            color: #999
    h4
        margin-bottom: 10px
        font-weight: bold
        text-transform: uppercase
.footer-cont
    margin: 0 auto
    width: 1000px
    ul
        list-style-type: none
        width: 100%
        margin-left: 0
        margin-right: 0
.footer-bloc
    float: left
    margin-right: 20px
    margin-left: 20px
    text-align: left
    width: 290px
    padding: 10px 0px 10px 0px
    &.last
        margin-right: 0px
    ul
        float: left
        list-style-type: none
        margin-left: 0
        li
            float: left
            clear: both
            a
                text-decoration: none
                &:hover
                    text-decoration: underline
        &.social
            margin-top: 10px
            li
                clear: none
                float: left
                display: block
                margin-right: 10px
            li#last
                margin-right: 0px
.footer-bloc ul.twitter li,
.footer-bloc ul.blog li
    padding: 7px 0px 7px 0px
    border-bottom: 1px dashed #777
    width: 100%
#siteinfo
    background: #111
    color: #f5f5f5
    font-size: 0.75em
    line-height: 18px
    padding: 24px 0 24px 0
    text-align: center
    width: 100%
    a
        color: #999
