#header
    z-index: 2
    min-height: 50px
    position: relative
#newsletter
    display: block
    position: absolute
    background: url(images/newsletter.png)
    background-repeat: no-repeat
    background-position: right top
    width: 100px
    height: 100px
#branding
    display: block
    height: 80px
    width: 960px
    h1
        float: right
        clear: none
        color: #555
        font-size: 20px
        font-weight: normal
        line-height: 38px
        padding-top: 0px
        padding-right: 40px
        padding-left: 40px
    #blog-description
        height: 48px
        display: block
        float: right
        width: 500px
#blog-title
    font-size: 24px
    font-weight: bold
    float: left
    padding: 25px 0 0px 0
    a
        text-decoration: none
#blog-title a:active,
#blog-title a:hover
#blog-description
    color: #eee
    font-size: 13px
#header-social
    float: left
    padding-top: 28px
