.notif
    float: left
    padding-top: 40px
    width: 100%
    form
        margin: 0
    input
        padding: 2px 4px 2px 4px
        height: 46px
        line-height: 46px
        color: #999999
        margin-top: 0px
        float: right
        border: 1px solid #b3b3b3
        width: 40%
        -webkit-border-radius: 3px
        -moz-border-radius: 3px
        border-radius: 3px
    h2
        padding-bottom: 10px
    fieldset
        border: none
        width: 500px
    input#mc-embedded-subscribe_appstage
        cursor: pointer
        margin-left: 20px
        font-size: 1.4em
    input#mce-EMAIL_appstage
        height: 40px
        line-height: 40px
        width: 45%
        display: block
#header-social
    .notif
        padding-top: 0px
        input
            height: 30px
            width: 100px
        fieldset
            width: 100%
        input#mc-embedded-subscribe
            margin-left: 10px
            cursor: pointer
            line-height: 26px
        input#mce-EMAIL
            width: 130px
            height: 25px
            line-height: 25px
.app-content-left
    .notif
        input
            float: left
.mc-field-group
    float: left
#mce-responses
    clear: both
    padding-top: 5px
input
    &.button
        background-color: #333
        color: #fff
