body
    &.page-template-mission-statement-php
        #content
            width: 900px
            overflow: hidden
            margin: 0 0 0 10px
        .entry-content
            font-size: 1.8em
            line-height: 1.2em
        .hentry
            width: inherit
