.menu
    float: right
    display: block
    width: 100%
    margin: 0px
    clear: both
.skip-link
    display: none
#access_wrap
    margin: 0 auto
    width: 940px
#access
    padding: 25px 25px 5px 0px
    clear: right
    float: right
.navigation
    color: #999
    line-height: 18px
    margin: 0px 0 22px 0
    overflow: hidden
    a
        font-style: italic
        text-decoration: none
    .meta-nav
        font-style: normal
.navigation a:active,
.navigation a:hover
.nav-previous
    float: left
    width: 50%
.nav-next
    float: right
    width: 50%
    text-align: right
#nav-above,#nav-below
    width: 100%
#nav-above
    display: none
.paged
    #nav-above
        display: block
        padding: 0 0 44px 0
