.wp-pagenavi
    margin: 0 0 0 -.5em
    padding: 0.5em 0
    a
        &:visited
            border: 1px solid #ccc !important
            color: #666 !important
        &:hover
            border: 1px solid #ccc !important
            color: #FF4B33 !important
        &:active
            border: 1px solid #ccc !important
            color: #FF4B33 !important
    span
        &.pages
            border: none !important
            color: #666 !important
            margin: 0 !important
            padding: 0 !important
        &.current
            border: none !important
            color: #666 !important
            font-weight: normal !important
            margin: 0 !important
            padding: 0 !important
        &.extend
            background-color: #FFFFFF
            border: 1px solid #000000
            color: #000000
            margin: 2px
            padding: 2px 4px
.wp-pagenavi a, .wp-pagenavi a:link, .wp-pagenavi span
    border: 1px solid #ccc !important
    color: #666!important
    font-style: normal
    margin: 0 .375em !important
    padding: 0.5em 0.25em !important
