blockquote
    &.pull-quote
        border-left: 1px dotted #CCC
        padding: 5px 0 5px 20px
        cite
            display: block
            text-align: right
            &:before
                content: "—"
        p
            font-size: 1.5em
            line-height: 1.1em
