.sf-menu
    float: right
    a
        padding: 9px 13px
        text-decoration: none
    li
        li
            li
    ul
        ul
            margin-top: 0
        a
            border-bottom: none
.ie6
    .sf-menu
        margin-bottom: -1px
.windows
    .sf-menu
        a
            font-size: 1.4em
            padding: 9px 13px 10px
.sf-menu .current_page_item a,
.sf-menu .current_page_ancestor a,
.sf-menu .current_page_parent a
.sf-menu a, .sf-menu a:visited
.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active
    outline: 0
.sf-menu li:hover ul,
.sf-menu li.sfHover ul
    top: 32px
